@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap&#39');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

html{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(purple,white);
    background-repeat: no-repeat;
    background-size: cover;
}
#pokemon{
    position: absolute;
    top: 19vi;
    left: 48vi;
    font-size: 1.5rem;
    font-weight: 550;
    color: rgb(62, 56, 56);
}
#pokemonId{
    position: absolute;
    background-color: #f0f0f0;
    top: 22.5vi;
    left: 41vi;
    font-size: 1.5vi;
    font-weight: 500;
    width: 16vi;
    padding: 0.4vi;
    border-radius: 0.5vi;
    border: solid 0.14vi #2d2c2c;
    box-shadow: -0.2vi 0.4vi #767676;
}
button{
    position: relative;
    background-color:#3d3c3c;
    color: #ffffff;
    font-size: 1vi;
    font-weight: 700;
    width: 7vi;
    height: 3vi;
    bottom: 7vi;
    right: 1vi;
    border-radius: 0.3vi;
    border: solid 0.15vi #242424;
    box-shadow: -0.2vi 0.4vi #272626;
    margin: 0.8vi;
}
button:active{
    box-shadow: inset -0.2vi 0.4vi #272626;
}
#pokeGif{
    display: flex;
    position: absolute;
    top: 10vi;
    left: 46vi;
}
.pGif{
    height: 7vi;
}
