@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s ease;
}
body{
    perspective:1000;
    background-color: #330259;
    border: double 1.5vi #ffffff;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    position: absolute;
    top: 3vi;
    left: 32vi;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-size: 5vi;
    color: #ffffff;
}
button{
    position: absolute;
    background-color:#ffffff;
    color: #330259;
    font-size: 1.5vi;
    font-weight: 700;
    bottom: 2vi;
    left: 2vi;
    width: 10.5vi;
    height: 4.5vi;
    border-radius: 0.3vi;
    border: solid 0.15vi #330259;
    box-shadow: -0.2vi 0.4vi #7a1dc2;
    margin: 0.8vi;
}
button:active{
    box-shadow: inset -0.2vi 0.4vi #330259;
}
img{
    margin: 0.4vi;
    width: 8vi;
    height: 12vi;
}
#containerCard{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    height: auto;
    cursor: pointer;
    position: absolute;
    top: 10vi;
    left: 0vi;
}
.cartaCont{
    position: relative;
    width: 8vi;
    height: 12vi;
    transform-style: preserve-3d;
    margin: 0.5vi;
    transform-origin: center;
    cursor: pointer;
}
.cartaCont.girar .atras{
    transform: rotateY(-180deg);
    transition: transform 0.4s ease;
}
.cartaCont.girar .frente{
    transform: rotateY(0deg);
    transition: transform 0.4s ease;
    
}
.frente, .atras{
    position: absolute;
    backface-visibility: hidden;
    cursor: pointer;
}
.frente{
   transform: rotateY(180deg);
   transition: transform 0.5s;
   animation: girarFrente 8s;
}
.atras{
    animation: girarAtras 8s;
}
@keyframes girarFrente{
    100%{
        transform: rotateY(180deg);
    }
    0%{
        transform:rotateY(0deg);
    }
}
@keyframes girarAtras{
    100%{
        transform: rotateY(0deg);
    }
    0%{
        transform:rotateY(180deg);
    }
}
.frente.seleccionada {
    border: 2px solid yellow;
    box-shadow: 0 0 5px yellow;
}
.cartaCont.seleccionada .frente {
    transform: rotateY(0deg);
}

.cartaCont.seleccionada .atras {
    transform: rotateY(180deg);
}
.girar .atras {
    transform: rotateY(-180deg);
    transition: transform 0.4s ease;
}

.girar .frente {
    transform: rotateY(0deg);
    transition: transform 0.4s ease;
}