@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-image: url(../storage/fondo.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    font-family: "Sedgwick Ave Display", cursive;
    font-size: 5vi;
}
button{
    position: relative;
    background-color:#570480;
    color: #ffffff;
    font-size: 1.5vi;
    font-weight: 700;
    width: 15vi;
    height: 4vi;
    top: 18vi;
    right: 1vi;
    border-radius: 0.3vi;
    border: solid 0.15vi #2a2a2a;
    box-shadow: -0.2vi 0.4vi #330259;
    margin: 0.8vi;
}
button:active{
    box-shadow: inset -0.2vi 0.4vi #330259;
}